body{
  background-color: orange;
}

table, th, td{
  border: 2px solid black ;
  text-align: center;
  border-collapse: collapse;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
