
/* ====================================== tag selector */

body{
  background-color: #ffeadb;
}

table, th, td{
  border: 2px solid black ;
  text-align: center;
  border-collapse: collapse;
}

header{
  background-color: #679b9b;
  width: 80%;
  height: 100px;
  margin: 0 auto;
}

main{
  background-color: #ff9a76;
}

header > nav > ul > li{

  /* border: 5px solid red; */
  float: left;
  margin-top: 3%;
  margin-left: 10%;
}

header > nav > ul{

  border: 5px solid red;
  float: left;
  margin-top: 3%;
  margin-left: 80%;
}

/* ====================================== id */

#logo{
  /* border: 5px solid red; */
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  width: 5%;
  /* height: 5%; */
}



/* ====================================== class */

